.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 60px;
  border-radius: 10px;
  background: beige;
}
body {
  background: center/50%
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/051/193/original/shecodes-basics-bckground-image.jpg?1667406455");
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: #d88976;
  font-size: 48;
  line-height: 1.5;
  padding: 15px 30px;
  margin: 30px auto;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #f5df90;
}

h2 {
  text-align: center;

  font-size: 24;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  max-width: fit-content;
  border-radius: 10;
  background-size: 100%;
  background-position: center;
}

p {
  margin: 20px 0 10px;
  line-height: 1.2;
  font-size: 16;
}

a {
  display: inline;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: coral;
}

button {
  display: block;
  margin: 20px auto;
  background: #f5df90;
  color: #d88976;
  line-height: 22px;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 22px;
  border: none;
  border-radius: 15px;
  box-shadow: 5, 5, 10 rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
  background: #c77d74;
  color: #e3ca60;
}

.footer {
  display: block;
  text-align: center;
}
